body{
    background: linear-gradient(to right, rgb(0,0,0), rgb(2, 1, 10), rgb(4, 5, 46), rgb(20, 1, 82), rgb(34, 0, 124), rgb(13, 0, 164));
}
/**
    -----------------------------------------------------
                    Navbar and Footer
    -----------------------------------------------------
 */
nav{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.menuButton{
    width: 150px;
    height: 70px;
    margin: 20px auto;
    font-size: 1.3em;
    color: rgb(158, 175, 201);
}

.menuButton:hover{
     animation-name: buttonColorHover;
     animation-duration: 0.2s;
     width: 200px;
     margin: 20px 75px;
     background-color: rgb(43, 0, 152);
     height: 70px;
     border-radius: 50px;
     border-style: none;
 }

.menuButton:not(:hover){   /* merge le css ligne 14 avec ce bloc-ci car identique */
    animation-name: buttonColorNoHover;
    animation-duration: 0.2s;
    width: 150px;
    background-color: rgb(11, 12, 93);
    margin: 20px 100px;
    height: 70px;
    border-radius: 50px;
    border-style: none;
    align-content: center;
}


#logo{
    width: 200px;
    height: 150px;
    position: fixed;
    top: 50px;
}

#menu{
    position: fixed;
    top: 250px;
    display: flex;
    flex-direction: column;
}

#footerWrapper{
    display: flex;
    flex-direction: column;
    top: 60vh;
    right: 10vw;
    position: fixed;
    height: 100vh;
}

.reseau{
    background-color: black;
    height: 10vh;
    width: 10vh;
    justify-content: center;
}

#photoDeProfile{
    position: fixed;
    top: 0;
    margin-top: 5vh;
    background-color: black;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
}

/**
                Animations
 */

@keyframes buttonColorHover {
    from{
        background-color: rgb(11, 12, 93);
        width: 150px;
        margin: 20px 100px;
    }
    to{
        background-color: rgb(43, 0, 152);
        width: 200px;
        margin: 20px 75px
    }
}

@keyframes buttonColorNoHover {
    from{
        background-color: rgb(43, 0, 152);
        width: 200px;
        margin: 20px 75px;
    }
    to{
        background-color: rgb(11, 12, 93);
        width: 150px;
        margin: 20px 100px;
    }
}


/**
    -----------------------------------------------------
                       HomePage
    -----------------------------------------------------
 */

/**
            Ajout d'un kwick
 */

#postMessage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 1071px;
    height: 113px;
    padding-top: 30px;
    left: 423px;
    top: 36px;
    background: linear-gradient(to left, rgb(0,0,0), rgb(2, 1, 10), rgb(4, 5, 46), rgb(20, 1, 82), rgb(34, 0, 124), rgb(13, 0, 164));
    border-radius: 150px;
}

#imageProfile {
    width: 55px;
    height: 53px;
    background-color: cyan;
}
p{
    color: rgb(143, 143, 143);
}

#textPost{
    color: red;
    width: 45vw;
    height: 5vh;
    border-radius: 50px;
    border-style: none;
}

#buttonPost{

}
