body{
    background: linear-gradient(to right, rgb(0,0,0), rgb(2, 1, 10), rgb(4, 5, 46), rgb(20, 1, 82), rgb(34, 0, 124), rgb(13, 0, 164)) ;
}

nav{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.menuButton{
    width: 150px;
    height: 70px;
    margin: 20px auto;
}


@keyframes buttonColorHover {
from{
        background-color: rgb(11, 12, 93);
        width: 150px;
        margin: 20px 100px;
    }
to{
        background-color: rgb(43, 0, 152);
        width: 200px;
        margin: 20px 75px
    }
/**
    Animation quand la souris quitte le bouton
 */
}
.menuButton:hover{
    animation-name: buttonColorHover;
    animation-duration: 0.2s;
    width: 200px;
    margin: 20px, 75px;
    background-color: rgb(43, 0, 152);
    color: rgb(255,255,255);
    height: 70px;
    border-radius: 50px;
    border-style: none;
}
.menuButton:not(:hover){   /* merge le css ligne 14 avec ce bloc-ci car identique */
    animation-name: buttonColorNoHover;
    animation-duration: 0.2s;
    width: 150px;
    background-color: rgb(11, 12, 93);
    color: rgb(255,255,255);
    margin: 20px 100px;
    height: 70px;
    border-radius: 50px;
    border-style: none;
    align-content: center;
}

@keyframes buttonColorNoHover {
    from{
        background-color: rgb(43, 0, 152);
        width: 200px;
        margin: 20px 75px;
    }
    to{
        background-color: rgb(11, 12, 93);
        width: 150px;
        margin: 20px 100px;
    }
}

#logo{
    width: 200px;
    height: 150px;
    position: fixed;
    top: 50px;
}

#menu{
    position: fixed;
    top: 250px;
    display: flex;
    flex-direction: column;
}

p{
    color: rgb(143, 143, 143);
}