body{
    background: linear-gradient(to right, #02010A, #04052E, #140152, #22007C, #0D00A4) ; /* TODO changer hex->rgb pour uniformiser la couleur entre tout les écrans*/
}

nav{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vw;
    align-items: center;
    justify-content: center;
}

.menuButton{
    width: 150px;
    height: 70px;
    border-radius: 50px;
    background-color: #060741;
    border-style: none;
    margin: 20px auto;
    align-content: center;
    color: #C5E063;
}

.menuButton:hover{
    animation-name: buttonColorHover;
    animation-duration: 0.2s;
    width: 200px;
    background-color: #22007C;
    color: #FFFFFF;
}

@keyframes buttonColorHover {
    from{
        background-color: #04052E;
        width: 150px;
    }
    to{
        background-color: #22007C;
        width: 200px;
    }
}
/**
    Animation quand la souris quitte le bouton
 */
.menuButton:not(:hover){
    animation-name: buttonColorNoHover;
    animation-duration: 0.2s;
    width: 150px;
    background-color: #04052E;
    color: #FFFFFF;
}

@keyframes buttonColorNoHover {
    from{
        background-color: #22007C;
        width: 200px;
    }
    to{
        background-color: #04052E;
        width: 150px;
    }
}

#logo{
    background-color: violet;
    width: 200px;
    height: 150px;
    position: fixed;
    top: 50px;
}

#menu{
    position: fixed;
    top: 250px;
    display: flex;
    flex-direction: column;
}

p{
    color: #8f8f8f;
    margin: 50%;
}